@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Indie+Flower&family=Kanit&family=Mukta:wght@200&family=Quicksand:wght@300&family=Rubik:wght@500&family=Titillium+Web:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    --borderRad:2px solid black;
    --backcolForDrops:#32B375;
    --lightDrop:#C8E6C9;
}
body{
    width: 100vw;
    
}
.navigator{
    position: fixed;
    margin-top: -65px;
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    padding: 13px 8px;
    align-items: center;
    height: 65px;
    width: 100%;
}
.navigator *{
    font-size: 1.1rem;
    /* padding: 10px; */
    cursor: pointer;
}
.fa-lg{
    font-size: 50px;
    font-weight: bolder;
    display: block;
    color: var(--backcolForDrops);
}
.inpu{ 
    position: relative;
}
#search{
  border-radius: 40px;
  width: 190px;
  outline: none;
  padding: 7px 15px;
  text-transform: capitalize;
  
}
input{
    outline: none;
    border: 1px solid black;
}
#search::placeholder{
font-style: italic;
}
#search:focus{
    border: 2px solid var(--backcolForDrops);
}
.fa-magnifying-glass{
    position:absolute;
    top: 30%;
    right: 5%;
}
.firNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
   width:750px ;
}
.firNav ul{
    display: flex;
    justify-content: center;
    width:450px ;
}
.firNav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    padding: 17px 0;
}
.firNav ul li:hover{
    background-color:var(--backcolForDrops);
    color: white;
}
.firNav ul li i{
     margin-left: 10px;
}
.secNav{
    display: flex;
    width: 420px;
    justify-content: space-evenly;
}
.fa-circle-half-stroke:hover{
    border-radius: 50%;
    padding: 13px;
    background-color: var(--lightDrop);
}
.fa-circle-half-stroke{
    margin-left: 10px;
    padding: 13px;
}
.secNav{
    height: 50px;
}
.secNav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.secNav ul li{
    list-style: none;
    display: flex;   
    align-items: center;
    padding: 10px;
    width: fit-content;
    text-wrap: nowrap;
}
.secNav ul li:hover{
    background-color: var(--lightDrop);
    border-radius: 30px;
}
.secNav ul li i{
    margin: 0 4px 0 0;
    color: blueviolet;
}
.secNav div{
    display: flex;
    width: 100%;
    justify-content: center;
}

.buts button{   
    border: none;
   font-family: 'Mukta', sans-serif;
}
.buts button:first-child{
    background-color: var(--backcolForDrops);
    color: white;
    position: relative;
    top: 0;
    left: 6px;
    width: 110px;
    border-radius: 40px;
}
.buts button:last-of-type{
    width: 90px;
    text-align: right;
    word-spacing: 1px;
    text-wrap: nowrap;
    margin-left: -15px;
     padding: 0 20px 0 10px;
    border-radius: 0px 40px 40px 0px;
    background-color: var(--lightDrop);
}
.buts button:last-of-type:hover{
    background-color:var(--backcolForDrops) ;
    color: white;
}
.secnav{
    display: flex;
    flex-direction: column;
    background-color: #5F4E6A;
    height: 460px;
    margin: 67px 0 0 0;
}
.secnav h1{
    font-weight: bolder;
    color: white;
    margin: 40px 0 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.secnav ul{
    position: fixed;
    display: flex;
  justify-content: space-around;
  background-color: #5F4E6A;
  width: 100%;
  left: 0;

}
.secnav ul li {
    text-transform: uppercase;
    list-style: none;
    font-family:'Titillium Web', sans-serif;
    color: white;
    cursor: pointer;
    padding: 0 15px;
}
.secnav ul li:hover{
    background-color: rgb(32, 50, 50);
}
.secnav section{
    padding: 15px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
.secnav section *{
    /* border: var(--borderRad); */
}
.secnav section h2{
    color: #FFE0B2;
    font-family: 'Quicksand', sans-serif;;
}
.secnav section div{
    margin: 40px 0  ;
    display: flex;
}

.ser input{
   padding: 14px;
   width: 400px;
   font-size: 1.1rem;
   border-radius: 60px 0 0 60px;
}
.ser button{
    cursor: pointer;
    padding: 14px 40px;
    background-color: var(--backcolForDrops);
    height: 50px;
    width: 100px;
    position: relative;
    border-radius: 0 40px 40px 0;
    border: none;
    
}
.ser button i{
    position: absolute;
    left: 10px;
    color: white;
    font-size: 20px;
}
section a{
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Quicksand',sans-serif;
}
#firstFiveLang{
    display: flex;
    flex-direction: column;
}
.boos{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    height: 600px;
}
.boos .butsText h1{
    font-size: 100px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
}
.boos .butsText p{
    letter-spacing: 1px;
    font-size: 1.2em;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}
.butsText{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.butsin{
    display: flex;
    align-self: center;
    margin: 20px 0;
    flex-direction: column;
    min-width: 15rem;      
    width: 15rem;
    justify-content: space-around;
}
.butsin button{
    padding: 15px 23px;
    border-radius: 30px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
}
.exa{
    background-color:#CFD8DC;
    padding: 18px;
    width: 400px;
    margin-left: 20px;
    box-shadow: 0 0 6px 0px black;
}
.exa h1{
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.exa .show{
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left:4px solid var(--backcolForDrops) ;
    margin: 16px 0;
}
.exa .show p{
    padding: 2px;
}
.exa button{
    cursor: pointer;
    border-radius: 30px;
    background-color: var(--backcolForDrops);
    font-weight: bold;
    color: white;
    padding: 12px 33px;
}